@import "../global.scss";

.HeaderWrapper{ 
    background: $blueprint-blue;
    width: 100vw;
    position: fixed;
    border-bottom: $border;
    z-index: 1000;
  }
  
  .headerContentContainer{
    width: 100%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    flex: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .headerLogo{
    max-width: 200px;
    padding: 25px;
  }
  
  .headingText{
    font-family: 'barlow condensed', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  .secondaryHead{
    font-weight: bold;
  }
  
  .navBrand{
    flex: 0 0 20%;
  }
  
  .navList{
    list-style: none;
    margin: 0px; 
    flex: 0 0 80%;
    align-items: flex-end;
    height: 100%;
  }
  .navList li {
    display: inline-block;
    width: 120px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    border: $white-border;
    border-top: 0px; 
    border-bottom: 0px;
    border-right: 0px;
    height: 100%;
  }
  
  .navList li:nth-child(5) {
     width: auto;
     border-right: 1px solid #ffffff;
     padding: 0 10px 0 20px;
  }
  
  .navLinks a{
    color: $white;
    list-style: none;
    text-decoration: none;
    position: relative;
    top: 27px;
  }