@import "../global.scss";

.FooterWrapper{ 
    background: $blueprint-blue;
    width: 100vw;
    border-bottom: $border;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .FooterContentContainer{
    display: flex;
    height: 100%;
    padding: 0px;
  }
  .FooterContentContainer:nth-child(1){
    border-right: 1px solid #fff;
  }
  .FooterContentContainer:nth-child(2){
    text-align: left;
    color: #ffffff;
    padding:25px;
    border-left: $border;
  }
  .FooterContentContainer:nth-child(3){
    border-left: 1px solid #fff;
  }
  .footerLogo{
    padding: 25px;
    width: 200px;
    vertical-align: middle;
  }

  .footer-copywrite{
    color: $white;
    margin-top: 25px;
    padding: 0px 30px;
  }

  .footerNavBrand{
    border-right: $border;
  }
  
  .footer-social-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  img.footer-icons{
    width: 20px;
    margin: 0 10px;
  }


  @media (max-width: 992px) {
    .FooterWrapper{
      flex-direction: column;
    }

    .FooterContentContainer {
      padding: 0px;
    }
    .FooterContentContainer:nth-child(1){
      border-right: none;
    }
    .FooterContentContainer:nth-child(2){
      width: 100%;
      border-top: $border;
      border-left: none;
    }
    .FooterContentContainer:nth-child(2){
      width: 100%;
    }
    .footer-social-links {
      width: 100%;
    }
  }