@import "../global.scss";

  /* Containers & BG's */

  .grid-bg{
    background-image: url('../../images/grid-lines-bg.png');
    background-size: cover; 
    background-position: top center;
  }
  .ruler-bg{
    background-image: url('../../images/top-ruler.png');
    background-size: contain; 
    background-position: top center;
    background-repeat: no-repeat;
  }

  /*  Content Styles  */
  .left-content-spacer{
    padding-top: 120px;
  }
  .category-label{
    background-color: $st-blue;
    text-align: center;
    padding: 5px 0px;
    color: $white;
    width: 165px;
  }
  .col-6-img{
    width: 100%;
  }
  .content-container{
    padding: 20px;
    border: $blueprintBorder;
  }
  .content-container p{
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .videoBtn-container{
    margin-top: 20px;
  }
  
  .VideoBtnLabel{
    display: inline-block;
    margin-left: 20px;
    font-weight: bold;
    margin-top: 5px;
  }
  
  .valueProp-container{
    width: 100%;
    border-right: 1px solid #0553EF;
    border-bottom: 1px solid #0553EF;
    border-top: 0px;
  }
  
  .border-flexbox .border-flex-item{
    vertical-align: middle;
    height: 100%;
    border-right: 1px solid #0553EF;
    padding: 10px 20px;
  }
  .border-flexbox .border-flex-item:nth-child(1){
    border-left: $blueprintBorder;
  }
  .border-flexbox .border-flex-item:nth-child(4){
    border-right: 0px;
  }
  
  .border-flex-item h3{
    font-weight: bold;
  }
  
  .btn-container{
    margin: 0 auto;
    position: relative;
    border-right: $blueprintBorder;
  }
  
  .outlined-btn{
    border: $blueprintBorder;
    padding: 10px 20px;
    font-weight: bold;
    font-family: $barlow-condensed-stack;
    width: 180px;
  }

  .l-img-details-btn-container{
    text-align: center;
    margin: 0 auto;
  }

  .l-img-details-btn{
     display: inline-block;
     margin-top: 6px;
     margin-bottom: 5px;
  }
  
  a.outlined-btn:hover{
    background-color: $blueprint-blue;
    transition: .6s ease-in-out;
    animation: 1s ease-in-out;
    text-decoration: none;
    color: #ffffff;
  }
  
  .outline-btn p{
    vertical-align: middle;
  }

  .mobile-left-img{
    display: none;
  }

  @media (max-width: 992px) {
    .left-content-spacer {
      padding-top: 40px;
    }
    .details-top-spacer{
      margin-top: 30px;
    }
    .border-flexbox .border-flex-item{
      width: 33%;
    }
    .border-flexbox .border-flex-item:nth-child(3){
      border-right: none;
    }
    .border-flexbox .border-flex-item:nth-child(4){
      width: 100%;
      border-top: $blueprintBorder;
      border-left: $blueprintBorder;
    }
    .l-img-details-btn {
      width: 100%;
    }
    .desktop-left-img{
      display: none;
    }
    .mobile-left-img {
      display: initial;
    }
    .carousel-caption{
      top: 15px;
      padding: 0px;
      left: 9%;
      width: 75%;
    }
    .caption-top-bracket {
      max-width: 30px;
      top: 10px !important;
      left: 0px !important;
    }
    .firstQuote {
      font-size: 2em !important;
      top: -19px !important;
      right: -8px !important;
    }
    .quote{
      font-size: .8em !important;
      left: 18px;
      top: -39px;
      top: -40px;
      position: relative;
    }
    .quoteeName{
      font-size: .6em !important;
      position: relative;
      top: -40px;
      left: 16px;
    }
  }